.benefits__wrapper {
    margin-top: 50vh;
    transform: translateY(-55%);
}

.benefits__nav {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

.benefits__info {
    @include reset-list;
    margin-top: 50px;
    p {
        font-size: 22px;
        line-height: 26px;
        opacity: 0.8;
        margin: 0;
        margin-left: 22px;
    }
}

.benefits__info-item {
    display: none;
    align-items: flex-start;
    &--active {
        display: flex;
    }
}

.benefits__nav-link {
    font-size: 25px;
    font-weight: 700;
    position: relative;
    transition: all 0.4s;
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background: black;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2px;
        transition: all 0.4s;
    }
    &:hover {
        &::before {
            width: 50%;
            transition: all 0.2s;
        }
    }
    &--active {
        font-size: 40px;
        position: relative;
        transition: all 0.4s;
        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            background: black;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
            bottom: -2px;
            transition: all 0.4s;
        }

        // &:hover {
        //     &::before {
        //         left: 0;
        //         transform: none;
        //         width: 30%;
        //         transition: all 0.4s;
        //     }
        // }
    }
}

.benefits__info-title {
    display: none;
}

.benefits__info-close {
    display: none;
}

@media (max-width: $desktop-width) {
    .benefits__info p {
        font-size: 18px;
        line-height: 21px;
    }
    .benefits__info img {
        width: 51%;
    }
    .benefits__nav-link {
        font-size: 20px;
        &--active {
            font-size: 32px;
        }
    }
}

@media (max-width: $laptop-width) {
    .benefits__nav-link {
        font-size: 14px;

        &--active {
            font-size: 21px;
        }
    }

    .benefits__info {
        img {
            width: 48%;
        }

        p {
            width: 52%;
            font-size: 14px;
            line-height: 16px;
        }
    }
}

@media (max-width: $tablet-width) {
    .benefits__info-title {
        display: block;
    }
    .benefits__info-item {
        display: none;
        &--active {
            display: flex;
            position: absolute;
            top: 0;
            left: 50%;
            flex-direction: column;
            background: #76f7bf;
            width: 95%;
            transform: translateX(-50%);
        }
    }
    .benefits__info-title {
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
    .benefits__nav {
        flex-direction: column;
        text-align: center;
    }
    .benefits__nav-link {
        font-size: 20px;
        padding: 12px;
        background: #76f7bf;
        display: block;
        &--active {
            &::before {
                content: none;
            }
        }
    }
    .benefits__nav-item {
        margin-bottom: 20px;
        width: 100%;
    }
    .benefits__info-close {
        display: block;
        position: absolute;
        background-image: url("../img/icons/close-menu-black.svg");
        width: 27px;
        height: 27px;
        top: 15px;
        right: 15px;
        border: none;
        background-size: cover;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .benefits__info {
        p {
            font-size: 12px;
            line-height: 15px;
            margin: 0;
            padding: 10px;
            width: 100%;
            max-height: 220px;
            overflow-y: scroll;
        }
        img {
            width: 100%;
        }
    }
}
