.contact-us {
    position: relative;
}

.contact-us__wrapper {
    margin-top: 14vh;
}

.contacts-us__form {
    max-width: 475px;
    margin: auto;
    p {
        margin: 0;
    }
    input {
        width: 100%;
        height: 50px;
        background: #ffffff;
        box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 35px;
        border: none;
        padding: 9px 18px;
        &::placeholder {
            font-size: 30px;
            opacity: 0.2;
        }
    }

    textarea {
        width: 100%;
        height: 192px;
        background: #ffffff;
        box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        font-size: 30px;
        line-height: 35px;
        border: none;
        padding: 9px 18px;
        &::placeholder {
            font-size: 30px;
            opacity: 0.2;
        }
    }
}

.contact-us__submit-wrapper {
    text-align: center;
    margin-top: 60px;
}

.contact-us__submit {
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    background: transparent;
    padding: 17px;
    font-weight: 700;
    border: 1px solid #000000;
    margin: auto;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        opacity: 0.6;
        transition: all 0.2s;    
    }
}

.contact-us__copyright {
    font-weight: 700;
    position: absolute;
    bottom: 35px;
    right: 35px;
}