.nav {
    position: absolute;
    top: 50px;
    left: calc(50% + 300px);
    z-index: 1;
}

.nav-white {
    .nav__link {
        color: #ffffff;
    }
}

.nav-black {
    .nav__link {
        color: black;
        transition: all 0.2s;
    }

    .nav__list-item {
        &:hover {
            &::before {
                content: "";
                width: 75%;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                background: black;
                display: block;
                position: absolute;
                bottom: -2px;
                transition: all 0.3s;
            }
        }
        &--active {
            &::before {
                background: black;
            }
            &:hover {
                &::before {
                    left: 0;
                    transform: none;
                    width: 50%;
                    transition: all 0.3s;
                }
            }
        }
    }
}

.nav__list {
    @include reset-list;
    display: flex;
}

.nav__link {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    transition: all 0.2s;
}

.nav__list-item {
    margin-right: 30px;
    transition: all 0.2s;
    position: relative;
    &::before {
        content: "";
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background: white;
        display: block;
        position: absolute;
        bottom: -2px;
        transition: all 0.3s;
    }
    &:hover {
        &::before {
            content: "";
            width: 75%;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            background: white;
            display: block;
            position: absolute;
            bottom: -2px;
            transition: all 0.3s;
        }
    }
    &--active {
        position: relative;

        &::before {
            content: "";
            width: 75%;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            background: white;
            display: block;
            position: absolute;
            bottom: -2px;
            transition: all 0.3s;
        }

        &:hover {
            &::before {
                left: 0;
                transform: none;
                width: 50%;
                transition: all 0.3s;
            }
        }
    }
}

.nav__toggle {
    display: none;
}

@media (max-width: $desktop-width) {
    .nav {
        left: calc(50% + 235px);
    }
   
    .nav__link {
        font-size: 20px;
    }   
}

@media (max-width: $laptop-width) {
    .nav {
        left: 15px;
    }

    .nav__list {
        display: none;
    }

    .nav__toggle {
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav__toggle {
        display: block;
    }
}