.offers__wrapper {
    margin-top: 50vh;
    transform: translateY(-55%);
}

.offers__container {
    display: grid;
    grid-template-columns: 820px 150px;
    gap: 65px;
    justify-items: center;
    align-items: center;
}

.offer__info {
    display: grid;
    // align-items: flex-start;
    grid-template-areas:
        "img title"
        "img descr"
        "img price"
        "img button";
    grid-template-columns: 420px 417px;
    //experemental
    justify-items: start;
    align-items: start;
    img {
        grid-area: img;
    }
}

.offer__title {
    font-size: 40px;
    line-height: 47px;
    color: #499167;
    grid-area: title;
    margin-bottom: 0;
}

.offer__descr {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    opacity: 0.6;
    grid-area: descr;
}

.offer__price {
    font-size: 70px;
    line-height: 82px;
    font-weight: 700;
    color: black;
    grid-area: price;
    &--old {
        text-decoration: line-through;
        margin-right: 20px;
    }
}

.offer__link {
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.04em;
    font-weight: 400;
    padding: 17px;
    border: 1px solid #000000;
    display: inline-flex;
    grid-area: button;
    font-weight: 700;
    &:hover {
        opacity: 0.7;
        transition: all 0.2s;
    }
}

.offer__price-wrapper {
    display: flex;
    align-items: center;
}

.offer__list-item {
    border: 1px solid #000000;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
        transform: scale(1.05);
        transition: all 0.2s;
        opacity: 0.7;
    }
    img {
        width: 80px;
        height: 105px;
        object-fit: contain;
    }
}

.offer__item-cost {
    font-size: 20px;
    font-weight: 700;
    display: block;
}

@media (max-width: $desktop-width) {
    .offer__title {
        font-size: 35px;
        line-height: 41px;
    }
    .offer__descr {
        font-size: 18px;
        line-height: 21px;
    }
    .offer__link {
        font-size: 25px;
        line-height: 29px;
    }

    .offer__price {
        font-size: 50px;
        line-height: 59px;
        &--old {
            margin-right: 10px;
        }
    }
    .offer__list-item {
        width: 120px;
        height: 120px;
    }

    .offer__item-cost {
        font-size: 14px;
        font-weight: 700;
        display: block;
    }

    .offer__list-item img {
        height: 82px;
    }

    .offers__container {
        grid-template-columns: 765px 120px;
        gap: 60px;
    }

    .offer__info {
        grid-template-columns: 330px 417px;
    }
}

@media (max-width: $laptop-width) {
    .offers__container {
        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: start;
    }
    .offer__info {
        grid-template-columns: 1fr 1fr;
    }
    .offer__list {
        display: flex;
    }
    .offer__list-item {
        width: 90px;
        height: 90px;
        margin-right: 15px;

        img {
            height: 60%;
        }
    }

    
}

@media (max-width: $tablet-width) {
    .offer__info {
        grid-template-areas:
            "img title"
            "descr descr"
            "button button";
        grid-template-columns: 100px 1fr;
    }
    .offer__title {
        font-size: 24px;
        line-height: 1.24;
    }
    .offer__descr {
        font-size: 17px;
    }

    .offers__container {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: start;
    }
    .offer__price-wrapper {
        display: none;
    }

    .offer__list {
        display: flex;
    }

    .offer__list-item {
        width: 65px;
        height: 65px;
        margin-right: 10px;
        img {
            height: 60%;
            width: 100%;
        }
    }

    .offer__item-cost {
        font-size: 8px;
    }
}
