.recipes__wrapper {
    margin-top: 50vh;
    transform: translateY(-55%);
}

.recipes__list {
    @include reset-list;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 33px;
}

.recipes__list-item {
    position: relative;
    display: flex;
    cursor: pointer;
    transition: all 0.2s;
    height: 260px;
    &:hover {
        transform: scale(1.04);
    }
    div {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(118, 247, 191, 0.9);
        padding: 16px;

        span {
            font-weight: 300;
            font-size: 17px;
        }
    }
}

@media (max-width: $desktop-width) {
    .recipes__list {
        gap: 25px;
    }
    .recipes__list-item {
        height: 200px;
    }
    .recipes__list-item div {
        padding: 4px;
    }

    .recipes__list-item div span {
        font-size: 14px;
    }
}

@media (max-width: $laptop-width) {
    .recipes__list {
        gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
    .recipes__list-item div {
        font-size: 13px;
        padding: 8px;
    }
}

@media (max-width: $laptop-width) {
    .recipes__list {
        grid-template-columns: 1fr;
        display: flex;
        height: 470px;
    }

    .recipes .swiper-pagination-recipes {
        left: 0;
        width: 100%;
        bottom: 7vh;
        text-align: center;
    }
    .recipes .swiper-pagination-bullet {
        background: 0 0;
        border: 1px solid #499167;
        width: 10px;
        height: 10px;
        opacity: 1;
        margin: 0 15px;
    }

    .recipes .swiper-pagination-bullet-active {
        background: #499167;
        outline: 0;
    }
}
