.recipes__wrapper {
    margin-top: 14vh;
}

.recipes__list {
    @include reset-list;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
}

.recipes__list-item {
    position: relative;
    display: flex;
    cursor: pointer;
    transition: all 0.2s;
    height: 260px;
    &:hover {
        transform: scale(1.08);
    }
    div {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(118, 247, 191, 0.9);
        padding: 16px;

        span {
            font-weight: 300;
            font-size: 17px;
        }
    }
}

@media (max-width: $desktop-width) {
    .recipes__list {
        gap: 25px;
    }
    .recipes__list-item {
        height: 200px;
    }
    .recipes__list-item div {
        padding: 4px;
    }

    .recipes__list-item div span {
        font-size: 14px;
    }
}