.testimonials__wrapper {
    margin-top: 50vh;
    transform: translateY(-55%);
    position: relative;
}

.slider__item {
    padding: 40px 40px 70px 40px;
    text-align: center;
    // max-width: 800px;
    background: #76f7bf;
    margin: auto;
    &--active {
        display: block;
    }
}

.slider__item-descr {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
}

.slider__item-title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    margin: 0;
}

.slider__item-stars {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item-star {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-image: url("../img/star.svg");
    background-size: cover;
}

.slider__button {
    width: 85px;
    height: 37px;
    border: none;
    background-color: transparent;
    background-image: url("../img/arrow.svg");
    background-size: cover;
    position: absolute;
    top: 50%;
    // transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.2s;
    z-index: 1;
    outline: none;
    &--prev {
        transform: rotate(180deg) translateY(-25%);
        left: -5%;
        &:hover {
            transform: translateX(-15px) rotate(180deg) translateY(-25%);
            transition: all 0.2s;
            opacity: 0.6;
        }
    }

    &--next {
        right: -5%;
        &:hover {
            transform: translateX(15px);
            transition: all 0.2s;
            opacity: 0.6;
        }
    }
}

.testimonials__swiper-wrapper {
    max-width: 940px;
}

@media (max-width: $desktop-width) {
    .slider__item-title {
        font-size: 25px;
    }
    .slider__item-star {
        width: 35px;
        height: 35px;
    }

    .slider__item-descr {
        font-size: 20px;
        line-height: 23px;
    }
    .testimonials__swiper-wrapper {
        max-width: 720px;
    }
    .slider__button {
        width: 60px;
        height: 27px;

        &--next {
            right: 0;
        }
        &--prev {
            left: 0;
        }
    }
}

@media (max-width: $laptop-width) {
    .slider__button {
        display: none;
    }
}


@media (max-width: $tablet-width) {
    .slider__button {
        display: none;
    }
}